body {
    background-color: black;
    text-align: center;
    margin: 0;
}

.text-cont {
    color: white;
    display: inline-block;
    /* border: 1px solid white; */
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    margin: 120px 0 0 0;
    padding-left: 0px;
    padding-right: 0px;
}

.text {
    /* border: 1px solid white; */
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 6rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(25),
        cursor .4s step-end infinite alternate;
}

@keyframes typing {
    from { width: 0 }
}

.btn-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn {
    color: black;
    display: inline-block;
    background-color: cyan;
    border: 2px solid cyan;
    box-shadow: 0 0 20px cyan;
    margin: 140px 300px 0 300px;
    border-radius: 100px;
    font-family: 'DM Sans', sans-serif;
    font-size: 3rem;
    padding: 20px 40px 20px 40px;
}

.btn p {
    margin: 0;
}

.btn:hover {
    box-shadow: 0 0 5px cyan, 0 0 50px cyan, 0 0 100px cyan;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .text {
        font-size: 3rem;
    
    }

    .btn {
        font-size: 1.7rem;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    .btn-container {
        margin: 0px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .text {
        font-size: 4rem;
    }

    .btn {
        font-size: 2.2rem;
    }

    .btn:hover {
        box-shadow: 0 0 5px cyan, 0 0 50px cyan, 0 0 100px cyan;
        cursor: pointer;
    }

    p {
        margin: 0;
    }

}
